.login {
	width: 100vw;
	height: 100vh;
	background-color: #feece9;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginWrapper {
	width: 70%;
	height: 70%;
	display: flex;
}

.loginLeft,
.loginRight {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.loginLogo {
	font-size: 120px;
	font-weight: "semibold";
	background: -webkit-linear-gradient(#660033, #cc0000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.loginDesc {
	font-size: 25px;
	font-weight: bold;
}

.loginBox {
	height: 100%;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.loginInput {
	height: 50px;
	border-radius: 10px;
	border: 1px solid gray;
	font-size: 18px;
	padding-left: 20px;
}

.loginInput:focus {
	outline: none;
}

.loginButton {
	height: 50px;
	margin-top: 10px;
	border-radius: 10px;
	border: none;
	background-color: #ee1722;
	color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

.loginForgot {
	text-align: center;
	color: #ee3717;
}

.loginRegisterButton {
	width: 60%;
	margin-top: 10px;
	align-self: center;
	height: 50px;
	border-radius: 10px;
	border: none;
	background-color: #b72a2a;
	color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}
